# List

In [30]:
a=[3,7,9,10,8,11,14]
type(a)

list

In [3]:
len(a)

7

In [5]:
a.append(67)

In [6]:
a

[3, 7, 9, 10, 8, 11, 14, 67]

In [8]:
a.insert(3,90)

In [9]:
a

[3, 7, 9, 90, 10, 8, 11, 14, 67]

In [10]:
a.remove(11)

In [11]:
a

[3, 7, 9, 90, 10, 8, 14, 67]

In [12]:
a.remove(0)                 # Remove shows error

ValueError: list.remove(x): x not in list

In [19]:
a.pop()

67

In [20]:
a

[3, 7, 9, 90, 10, 8, 14]

In [21]:
a.pop(3)

90

In [22]:
a

[3, 7, 9, 10, 8, 14]

In [24]:
a.sort()

In [25]:
a

[3, 7, 8, 9, 10, 14]

In [26]:
a.reverse()

In [27]:
a

[14, 10, 9, 8, 7, 3]

In [30]:
a.clear()

In [31]:
a

[]

# Tuple Operations.

In [2]:
c=(5,8,9,37,90)
len(c)

5

In [3]:
c.append(6)                 # Tuple is unchangeble so append gives error.

AttributeError: 'tuple' object has no attribute 'append'

# Set

In [2]:
s={3,67,98,45,34,23,12}

In [3]:
len(s)

7

In [6]:
s.add(78)            # add 78 at random position .

In [7]:
s

{3, 12, 23, 34, 45, 67, 78, 98}

In [8]:
s.pop()                # Remove randomly value .

34

In [10]:
s.pop()

67

In [11]:
s.remove(23)

In [12]:
s

{3, 12, 45, 78, 98}

In [25]:
s.remove(76)           # Remove shows error

KeyError: 76

In [29]:
s.discard(0)

In [27]:
s

{3, 12, 45, 78, 98}

In [39]:
s.clear()

In [53]:
s1={"ritu","komal","raj","ravi"}

In [54]:
s1.pop()

'ravi'

In [96]:
f={"uma","mina","lila","rutuja","rekha"}
print(f)

{'rekha', 'rutuja', 'mina', 'lila', 'uma'}

In [97]:
f.pop()

'rekha'

In [103]:
f.add("esha")

In [104]:
f

{'esha', 'lila', 'mina', 'rutuja'}

In [105]:
clear(f)

# Dictionary Operations.

In [62]:
d={"Name":["nitu","gitu","raju","praju"],
  "City":["Pune","Aurangabad","Nashik","Shrirampur"],
  "Food":["idli","dosa","chili","sweet"],
  "pet":["dog","cat","lion","Tiger"]}

In [64]:
print(d)

{'Name': ['nitu', 'gitu', 'raju', 'praju'], 'City': ['Pune', 'Aurangabad', 'Nashik', 'Shrirampur'], 'Food': ['idli', 'dosa', 'chili', 'sweet'], 'pet': ['dog', 'cat', 'lion', 'Tiger']}

In [79]:
d.popitem()

('pet', ['dog', 'cat', 'lion', 'Tiger'])

In [82]:
d.pop("Name")

['nitu', 'gitu', 'raju', 'praju']

In [87]:
j={"village":["vith","malu","lad","umbr"]}

In [88]:
d.update(j)

In [89]:
d

{'City': ['Pune', 'Aurangabad', 'Nashik', 'Shrirampur'],
 'Food': ['idli', 'dosa', 'chili', 'sweet'],
 'village': ['vith', 'malu', 'lad', 'umbr']}

In [90]:
import pandas as pd

In [91]:
s1=pd.DataFrame(d)

In [92]:
s1

         City   Food village
0        Pune   idli    vith
1  Aurangabad   dosa    malu
2      Nashik  chili     lad
3  Shrirampur  sweet    umbr

In [94]:
csv_d=s1.to_csv()

In [95]:
print(csv_d)

,City,Food,village
0,Pune,idli,vith
1,Aurangabad,dosa,malu
2,Nashik,chili,lad
3,Shrirampur,sweet,umbr