# Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\akshi\OneDrive\Documents\data set\Fish -.csv")

In [3]:
data.head()                # given data

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
data.tail()           # gives Last 5 Rows of data .

    Species  Weight  Length1  Length2  Length3  Height   Width
154   Smelt    12.2     11.5     12.2     13.4  2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5  2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8  2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2  2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2  2.9322  1.8792

In [5]:
data.isnull()       #Find the missing values .

     Species  Weight  Length1  Length2  Length3  Height  Width
0      False   False    False    False    False   False  False
1      False   False    False    False    False   False  False
2      False   False    False    False    False   False  False
3      False   False    False    False    False   False  False
4      False   False    False    False    False   False  False
..       ...     ...      ...      ...      ...     ...    ...
154    False   False    False    False    False   False  False
155    False   False    False    False    False   False  False
156    False   False    False    False    False   False  False
157    False   False    False    False    False   False  False
158    False   False    False    False    False   False  False

[159 rows x 7 columns]

In [6]:
data.isnull().sum()    #Find the missing values count

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [7]:
data.mean()            # It gives average of the given numerical columns

<ipython-input-7-da74e1505399>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()            # It gives average of the given numerical columns

Weight     398.326415
Length1     26.247170
Length2     28.415723
Length3     31.227044
Height       8.970994
Width        4.417486
dtype: float64

In [8]:
data.median()              # It gives median of numerical columns

<ipython-input-8-8fbedc1413ad>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.median()              # It gives median of numerical columns

Weight     273.0000
Length1     25.2000
Length2     27.3000
Length3     29.4000
Height       7.7860
Width        4.2485
dtype: float64

In [9]:
data.info()                     # It gives the information of null vaues and data type .

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [10]:
data.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [11]:
data["Weight"]             # Extract the Columns from the data.

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [12]:
data["Width"].count()

159

In [13]:
data["Species"]

0      Bream
1      Bream
2      Bream
3      Bream
4      Bream
       ...
154    Smelt
155    Smelt
156    Smelt
157    Smelt
158    Smelt
Name: Species, Length: 159, dtype: object

In [14]:
data["Weight"].count()       # number of Weight rows .

159

In [15]:
data["Length1"].sum()        # Sum of length1 columns.

4173.3

In [16]:
Range=max(data["Length1"])-min(data["Length1"])
Range

51.5

In [17]:
# Skewness and Kurtosis.

In [18]:
data["Length1"].skew()

0.5884823308370954

In [19]:
data["Weight"].kurt()

0.8838414122090583

In [20]:
# Measures of Dispersion

In [21]:
data["Weight"].std()

357.9783165508931

In [22]:
data["Weight"].var()

128148.47512061145

In [23]:
df=data.iloc[:,1:3]
df

     Weight  Length1
0     242.0     23.2
1     290.0     24.0
2     340.0     23.9
3     363.0     26.3
4     430.0     26.5
..      ...      ...
154    12.2     11.5
155    13.4     11.7
156    12.2     12.1
157    19.7     13.2
158    19.9     13.8

[159 rows x 2 columns]

In [24]:
data["Species"].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [25]:
df1=data.loc[(data["Weight"]>=200)&(data["Species"]=="Bream")]

In [26]:
df1.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [27]:
df1.tail()

   Species  Weight  Length1  Length2  Length3   Height   Width
30   Bream   920.0     35.0     38.5     44.1  18.0369  6.3063
31   Bream   955.0     35.0     38.5     44.0  18.0840  6.2920
32   Bream   925.0     36.2     39.5     45.3  18.7542  6.7497
33   Bream   975.0     37.4     41.0     45.9  18.6354  6.7473
34   Bream   950.0     38.0     41.0     46.5  17.6235  6.3705

In [28]:
# pivote Table

In [29]:
s=pd.pivot_table(data,index=["Species"])

In [30]:
s

              Height    Length1    Length2    Length3      Weight     Width
Species
Bream      15.183211  30.305714  33.108571  38.354286  617.828571  5.427614
Parkki      8.962427  18.727273  20.345455  22.790909  154.818182  3.220736
Perch       7.861870  25.735714  27.892857  29.571429  382.239286  4.745723
Pike        7.713771  42.476471  45.482353  48.717647  718.705882  5.086382
Roach       6.694795  20.645000  22.275000  24.970000  152.050000  3.657850
Smelt       2.209371  11.257143  11.921429  13.035714   11.178571  1.340093
Whitefish  10.027167  28.800000  31.316667  34.316667  531.000000  5.473050

In [31]:
f=pd.pivot_table(data,index=["Species"]).count()
f

Height     7
Length1    7
Length2    7
Length3    7
Weight     7
Width      7
dtype: int64

In [32]:
v=pd.pivot_table(data,index=["Species"]).mean()
v

Height       8.378945
Length1     25.421045
Length2     27.477476
Length3     30.250950
Weight     366.831499
Width        4.135921
dtype: float64

In [55]:
n=[]
for x in data["Weight"]:
    if x<5:
        print("small Height")
        n.append(x)
    elif x>=5:
        print("medium height")
        n.append(x)

medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
small Height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height
medium height

In [56]:
n=[]
for x in data["Weight"]:
    if x<5:
        n.append(x)
    elif x>=5:
        n.append(x)

In [57]:
n

[242.0,
 290.0,
 340.0,
 363.0,
 430.0,
 450.0,
 500.0,
 390.0,
 450.0,
 500.0,
 475.0,
 500.0,
 500.0,
 340.0,
 600.0,
 600.0,
 700.0,
 700.0,
 610.0,
 650.0,
 575.0,
 685.0,
 620.0,
 680.0,
 700.0,
 725.0,
 720.0,
 714.0,
 850.0,
 1000.0,
 920.0,
 955.0,
 925.0,
 975.0,
 950.0,
 40.0,
 69.0,
 78.0,
 87.0,
 120.0,
 0.0,
 110.0,
 120.0,
 150.0,
 145.0,
 160.0,
 140.0,
 160.0,
 169.0,
 161.0,
 200.0,
 180.0,
 290.0,
 272.0,
 390.0,
 270.0,
 270.0,
 306.0,
 540.0,
 800.0,
 1000.0,
 55.0,
 60.0,
 90.0,
 120.0,
 150.0,
 140.0,
 170.0,
 145.0,
 200.0,
 273.0,
 300.0,
 5.9,
 32.0,
 40.0,
 51.5,
 70.0,
 100.0,
 78.0,
 80.0,
 85.0,
 85.0,
 110.0,
 115.0,
 125.0,
 130.0,
 120.0,
 120.0,
 130.0,
 135.0,
 110.0,
 130.0,
 150.0,
 145.0,
 150.0,
 170.0,
 225.0,
 145.0,
 188.0,
 180.0,
 197.0,
 218.0,
 300.0,
 260.0,
 265.0,
 250.0,
 250.0,
 300.0,
 320.0,
 514.0,
 556.0,
 840.0,
 685.0,
 700.0,
 700.0,
 690.0,
 900.0,
 650.0,
 820.0,
 850.0,
 900.0,
 1015.0,
 820.0,
 1100.0,
 1000.0,
 1100.0,
 1000.0,
 1000.0,
 200.0,
 300.0,
 300.0,
 300.0,
 430.0,
 345.0,
 456.0,
 510.0,
 540.0,
 500.0,
 567.0,
 770.0,
 950.0,
 1250.0,
 1600.0,
 1550.0,
 1650.0,
 6.7,
 7.5,
 7.0,
 9.7,
 9.8,
 8.7,
 10.0,
 9.9,
 9.8,
 12.2,
 13.4,
 12.2,
 19.7,
 19.9]

In [60]:
data.insert(3,"new3",n)

In [61]:
data

,Species,Weight,Length1,new3,new2,new,Length2,Length3,Height,Width
0,Bream,242.0,23.2,242.0,242.0,242.0,25.4,30.0,11.5200,4.0200
1,Bream,290.0,24.0,290.0,290.0,290.0,26.3,31.2,12.4800,4.3056
2,Bream,340.0,23.9,340.0,340.0,340.0,26.5,31.1,12.3778,4.6961
3,Bream,363.0,26.3,363.0,363.0,363.0,29.0,33.5,12.7300,4.4555
4,Bream,430.0,26.5,430.0,430.0,430.0,29.0,34.0,12.4440,5.1340
...,...,...,...,...,...,...,...,...,...,...
154,Smelt,12.2,11.5,12.2,12.2,12.2,12.2,13.4,2.0904,1.3936
155,Smelt,13.4,11.7,13.4,13.4,13.4,12.4,13.5,2.4300,1.2690
156,Smelt,12.2,12.1,12.2,12.2,12.2,13.0,13.8,2.2770,1.2558
157,Smelt,19.7,13.2,19.7,19.7,19.7,14.3,15.2,2.8728,2.0672
158,Smelt,19.9,13.8,19.9,19.9,19.9,15.0,16.2,2.9322,1.8792